<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelbox.itinerary.model.dao.ItineraryDao">

    <sql id="selectWithJoin">
        select i.plan_id, i.content_id, i.memo, i.date, i.index_number, a.title, a.first_image, a.addr1, a.latitude, a.longitude from itinerary i
        join attraction_info a on i.content_id = a.content_id
    </sql>

<!--    <insert id="insert" parameterType="itinerary">-->
<!--        insert into itinerary (plan_id, content_id, memo, date, index_number)-->
<!--        values (#{planId}, #{contentId}, #{memo}, #{date}, ifnull((select max(itsub.index_number) from itinerary itsub where itsub.plan_id = #{planId} and itsub.date = #{date}), 0) + 1)-->
<!--    </insert>-->

    <insert id="insert" parameterType="itinerary">
        insert into itinerary (plan_id, content_id, memo, date, index_number)
        values (#{planId}, #{contentId}, #{memo}, #{date}, #{indexNumber})
    </insert>

    <select id="selectAll" parameterType="int" resultMap="itinerary">
        <include refid="selectWithJoin"></include>
        where plan_id = #{planId}
        order by date, index_number
    </select>

    <delete id="delete" parameterType="map">
        delete from itinerary
        where plan_id = #{planId} and content_id = #{contentId}
    </delete>

    <update id="update" parameterType="itinerary">
        update itinerary
        set date = #{date}, index_number = #{indexNumber}
        where plan_id = #{planId} and content_id = #{contentId}
    </update>

    <update id="updateIndexAfterDelete" parameterType="itinerary">
        update itinerary
        set index_number = index_number - 1
        where plan_id = #{planId} and date = #{date} and index_number > #{indexNumber}
    </update>

    <select id="selectOne" parameterType="map" resultMap="itinerary">
        <include refid="selectWithJoin"></include>
        where plan_id = #{planId} and i.content_id = #{contentId}
    </select>

    <select id="selectLastOne" parameterType="int" resultMap="itinerary">
        <include refid="selectWithJoin"></include>
        where plan_id = #{planId}
        order by date desc
        limit 1
    </select>

    <resultMap id="itinerary" type="itinerary">
        <result column="plan_id" property="planId" />
        <result column="content_id" property="contentId" />
        <result column="memo" property="memo" />
        <result column="date" property="date" />
        <result column="index_number" property="indexNumber" />
        <result column="title" property="title" />
        <result column="first_image" property="image"/>
        <result column="addr1" property="address"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>

</mapper>