<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travelbox.user.model.mapper.UserMapper">

    <resultMap type="userDto" id="UserResultMap">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="role" column="role"/>
        <result property="joinDate" column="join_date"/>
        <result property="refreshToken" column="refresh_token"/>
    </resultMap>

    <select id="login" parameterType="map" resultMap="UserResultMap">
        SELECT id, name, refresh_token
        FROM member
        WHERE id = #{id} AND password = #{password}
    </select>

    <select id="userInfo" parameterType="string" resultMap="UserResultMap">
        SELECT name, id, email, phone_number, join_date
        FROM member
        WHERE id = #{id}
    </select>

    <update id="saveRefreshToken" parameterType="map">
        UPDATE member
        SET refresh_token = #{token}
        WHERE id = #{id}
    </update>

    <select id="getRefreshToken" parameterType="string" resultType="string">
        SELECT refresh_token
        FROM member
        WHERE id = #{id}
    </select>

    <update id="deleteRefreshToken" parameterType="map">
        UPDATE member
        SET refresh_token = #{token, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <insert id="signUp" parameterType="userDto" >
        INSERT INTO member (id, password, name, email, phone_number, role)
        VALUES (#{id}, #{password}, #{name}, #{email}, #{phoneNumber}, "USER")
    </insert>

    <select id="existsById" parameterType="string" resultType="boolean">
        SELECT COUNT(*)
        FROM member
        WHERE id = #{id}
    </select>

    <select id="getPassword" parameterType="string">
        SELECT password
        FROM member
        WHERE id = #{id}
    </select>

    <update id="modify" parameterType="map">
        UPDATE member
        SET name = #{name}, phone_number = #{phoneNumber}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        delete from member
        where id = #{userId}
    </delete>
</mapper>